#svg-container {
    float: left;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 10%;
    vertical-align: top;
    overflow: hidden;
}

#div_information{
    margin-left: 2%;
}

#svg-container2 {
    margin-top: -100px;
    height:60vh;
}
#div_customContent{
    margin-bottom: 2%;
    visibility: hidden;
    position: relative;
    width:30vw;
    height: 600px;
    border: black 1px solid;


}
h4{
     text-align: center;
}
input{
    width: 50px;
}

div.tooltip_histogram {
    width: 30vw;
    height: 100vh;
    font: 12px sans-serif;
    pointer-events: none;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}